<div class="talk">
    <h2 class="title">{{ title }}</h2>
    <p class="description">{{ description }}</p>

    <div class="foot">
        <div class="tags">
            <span
                *ngFor="let tag of talkTags"
                class="badge"
                title="Click on me and see that the output is emitted and recognized outside of the component."
                (click)="onTagClick(tag)">
                    {{ tag }}
            </span>
        </div>
        <p class="speaker">{{ speaker }}</p>
    </div>
</div>
